:root {
    --main-blue: #0079BC;
    --main-white: white;
    --main-background: #F9FAFD;
    --grey: #414141;
    --light-grey: #ACACAC;
    --green: #46CD07;
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../assets/fonts/Montserrat-SemiBold.ttf") format("woff2");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../assets/fonts/Montserrat-Regular.ttf") format("woff2");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../assets/fonts/Montserrat-Medium.ttf") format("woff2");
}

body {
    background-color: #F9FAFD;
}

.header {
    background-color: white;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.logo {
    color: var(--main-blue);
    font-size: 22px;
    font-family: "Montserrat-SemiBold";
    text-decoration: none;
    font-weight: 600;
}

.back-slide-container {
    margin-top: 8vh;
    display: flex;
    height: 26px;
    align-items: center;
    margin-left: 20vh;
}

.back-slide-container span {
    color: var(--main-blue);
    cursor: pointer;
    font-family: "Montserrat-SemiBold";
    font-size: 16px;
    margin-left: 6px;
    font-weight: 600;
}

.back-slide-container-dashboard span {
    color: var(--main-blue);
    cursor: pointer;
    font-family: "Montserrat-SemiBold";
    font-size: 16px;
    margin-left: 6px;
    font-weight: 600;
}

.back-slide-container-dashboard {
    display: flex;
    height: 26px;
    align-items: center;
}

.slick-slide {
    height: 50vh !important;
    justify-content: center;
    align-items: center;
    display: grid !important;
}

.button {
    background-color: var(--main-blue);
    width: 206px;
    height: 55px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center
}

.button:hover {
    background-color: #A1C5D9
}

.button:active {
    background-color: #A1C5D9;
}

.button:disabled {
    background-color: #A1C5D9
}

.label {
    display: block;
    font-size: 16px;
    color: var(--grey);
    font-family: "Montserrat-Medium";
}

.button p {
    color: var(--main-white);
    font-size: 16px;
    font-family: "Montserrat-SemiBold";
    font-weight: 600;
}

.container {
    background: var(--main-background);
    width: 100%;
    height: 100vh;
}

.buttons-container {
    display: grid;
    margin-top: 45px;
    justify-content: center;
    align-items: center;
}

.slider-dor {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    /* background-color: red; */
    margin: 3.5px;
}

.slider-title {
    font-size: 28px;
    font-family: "Montserrat-SemiBold";
    font-weight: 600;
}

.slider-description {
    font-size: 18px;
    max-width: 800px;
    display: inline-block;
    font-family: "Montserrat-Regular";
    text-align: center;
    color: var(--grey);
}

.skip-button-slider {
    color: var(--main-blue);
    font-weight: 600;
    font-family: "Montserrat-SemiBold";
    cursor: pointer;
}

.css-1md3xup-InputComponent {
    font-family: "Montserrat-Medium";
    margin-left: 0px !important;
    font-size: 14px !important;
}

.input {
    height: 50px;
    width: 434px;
    font-size: 16px;
    outline: none;
    background: transparent;
    font-family: "Montserrat-Medium";
    border: none;
}

.centered-block {
    align-items: center;
    justify-content: center;
    display: flex;
}

.centered-container {
    margin-top: 80px;
    height: 70vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.modal-container .block {
    background-color: white;
    margin: 40px 0px;
    border-radius: 10px;
    padding: 30px;
    border-radius: 10px;
    overflow-y: scroll;
    height: 75vh;
}

.title {
    display: block;
    font-family: "Montserrat-SemiBold";
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.description {
    display: block;
    text-align: center;
    color: #606060;
    font-family: "Montserrat-Regular";
    font-size: 18px;
}

.bottom-button-container {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 13vh;
}

.errors-password {
    font-family: "Montserrat-SemiBold";
    display: block;
    margin-left: 8px;
}

.forgot-password {
    font-size: 16px;
    display: block;
    font-weight: 600;
    cursor: pointer;
    font-family: "Montserrat-SemiBold";
    color: var(--main-blue);
}

.remember-password {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    font-family: "Montserrat-SemiBold";
    color: var(--main-blue);
}

.remember-your-password {
    display: block;
    font-weight: 400;
    color: #818181;
    font-family: "Montserrat-Regular";
    font-size: 18px;
}

.sidebar {
    position: fixed;
    height: 100vh;
    width: 150px;
    top: 0;
    left: 0;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    text-align: center;
    /* align-items: center; */
    justify-content: center;
    padding: 20px 0px;
    background: #FFFFFF;
    box-shadow: 1px 4px 15px rgba(186, 186, 186, 0.25);
}

.sidebar .block {
    display: flex;
    height: 93px;
    align-items: center;
    padding: 0 30px;
    justify-content: center;
    color: #818181;
    font-size: 12px;
    text-decoration: none;
    font-family: "Montserrat-SemiBold";
}

.sidebar .active {
    color: var(--main-blue);
    font-size: 12px;
    background-color: rgba(0, 121, 188, 0.05);
    text-decoration: none;
    font-family: "Montserrat-SemiBold";
}

.info-edit-button {
    cursor: pointer;
}

.info-edit-button:hover svg path {
    fill: #818181;
}


.sidebar .active svg path {
    fill: var(--main-blue);
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profile-info-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr max-content;
    flex-direction: row;
    align-items: center;
    padding: 20px 25px 20px 20px;
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgb(186 186 186 / 50%);
    border-radius: 8px;
}

.columns-1-info-block {
    grid-template-columns: 1fr 1fr max-content;
}

.columns-2-info-block {
    grid-template-columns: 1fr 1fr 1fr max-content;
}

.columns-3-info-block {
    grid-template-columns: 1fr 1fr 1fr 1fr max-content;
}

.profile-settings-block {
    display: grid;
    grid-template-columns: 1fr max-content;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    background: #FFFFFF;
    /* Desktop/Table */

    box-shadow: 0px 3px 15px rgba(186, 186, 186, 0.5);
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 10px 0px;
}

.profile-settings-block:hover {
    background: #F8F8F8;
}

.profile-settings-block:active {
    background: #ECECEC;
}

.profile-settings-block-title {
    font-family: "Montserrat-SemiBold";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #414141;
}

.info-title {
    color: var(--main-blue);
    font-family: "Montserrat-SemiBold";
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.info-description {
    margin-top: 10px;
    font-family: "Montserrat-Regular";
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.info-user-name {
    font-family: "Montserrat-SemiBold";
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.page-title {
    font-family: "Montserrat-SemiBold";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 30px;
    line-height: 32px;
}

.info-user-specialty {
    margin-top: 5px;
    font-family: "Montserrat-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #818181;
}

.profile-subtitle {
    margin-top: 35px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    font-family: "Montserrat-SemiBold";
    color: #818181;
}

.info-user-reviews {
    margin-top: 14px;
    font-family: "Montserrat-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    color: #818181;
}

.info-user-reviews span {
    font-family: "Montserrat-SemiBold";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin: 0px 10px 0px 5px;
    color: #818181;
}

.header-user-name {
    font-style: normal;
    margin-left: 15px;
    margin-right: 50px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    font-family: "Montserrat-SemiBold";
    color: #282828;

}

.change-password-block {
    display: grid;
    grid-template-rows: 1fr 1fr max-content;
}

.input-container {
    border-bottom: var(--light-grey) solid 2px;
    align-items: center;
    display: flex;
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    padding-top: 100px;
    align-items: flex-start;
    left: 150px;
    top: 75px;
    display: flex;
    justify-content: center;
}

.modal-container-edit {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    left: 150px;
    top: 75px;
    display: flex;
    justify-content: center;
}


.modal-container-edit .block {
    background-color: white;
    margin: 40px 0px;
    border-radius: 10px;
    padding: 30px;
    border-radius: 10px;
    overflow-y: scroll;
    height: 75vh;
}


.edit-profile-title {
    font-style: normal;
    font-family: "Montserrat-SemiBold";
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    /* margin-right: 50px; */
    align-items: center;
    justify-content: space-between;
}

.edit-profile-avatar-block {
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.edit-profile-bottom-block {
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.bordered-button {
    background-color: transparent !important;
    border: 2px solid var(--main-blue);
}

.bordered-button:hover {
    border-color: #A1C5D9;
    color: #A1C5D9;
}

.bordered-button:hover {
    color: #A1C5D9;
}


.bordered-button p {
    color: var(--main-blue);
}

.bordered-button:hover p {
    color: #A1C5D9;
}

.error-text {
    font-style: normal;
    color: #FF6771;
    font-family: "Montserrat-Medium";
    font-weight: 500;
    height: 14px;
    font-size: 12px;
    line-height: 15px;
}

.logout-sidebar {
    cursor: pointer;
}

.information-text {
    font-family: "Montserrat-Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.logout-modal-text {
    font-family: "Montserrat-SemiBold";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.close-button-modal-block {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -30px;
    cursor: pointer;
}

.error-input {
    border-bottom: 2px solid #FF6771 !important;
    color: #FF6771 !important;
}

.error-color {
    color: #FF6771 !important;
}

.custom-input {
    outline: none;
    border: none;
    border-bottom: 2px solid #ACACAC;
    height: 50px;
    width: 434px;
    font-size: 16px;
    background: transparent;
    font-family: "Montserrat-Medium";
}

.custom-input:focus {
    border-bottom: 2px solid var(--main-blue);
}

.custom-form label {
    display: block;
    font-size: 16px;
    margin-top: 30px;
    color: var(--grey);
    font-family: "Montserrat-Medium";
}

.visible-password-icon {
    cursor: pointer;
    position: absolute;
    margin-left: -46px;
    height: 50px;
    padding-top: 10px;
}

.user-not-defined-text {
    width: 380px;
    font-family: "Montserrat-Regular";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.appointments-header-container {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr max-content;
}

.delay-button {
    background: #FF624F;
    width: 92px;
    height: 38px;
}

.delay-button p {
    font-size: 12px;
}

.appointments-tab-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    font-family: "Montserrat-SemiBold";
    cursor: pointer;
    color: #818181;
}

.appointments-header-button-tabs {
    display: flex;
}

.appointments-tab-button-active {
    padding-bottom: 17px;
    color: #0079BC;
    border-bottom: 3px solid #0079BC;
}

.coming-tab-button {
    margin-right: 35px;
}

.appointments-list-container {}

.modal-custom-block {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin-left: -150px;
}